<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Live Guides</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="container" role="main">

        <div class="header">
          <h2>Phoenix Guides</h2>
        </div>

        <div class="sidebar">
          <h5><%= title %> </h5>
          <ul>
            <%= for item <- list_dir("phoenix_guides") do %>
                <li><a href='<%= item %>'><%= display_name(item) %></a></li>
            <% end %>
            <%= for folder <- dir_list do %>
              <h5><%= display_name(folder) %></h5>
              <%= for item <- list_dir("phoenix_guides/#{folder}") do %>
                  <li><a href="/<%= folder %>/<%= item %>"><%= display_name(item) %></a></li>
              <% end %>
            <% end %>
          </ul>
        </div>

        <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
        <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

        <%= @inner %>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>

    <script>require("web/static/js/app")</script>

  </body>
</html>
